#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.divForm{
  position: absolute;
  height: 300px;
  text-align: center;
  top: 50%;
  left: 60%;
  margin-top: -150px;
  margin-left: -150px;
}