<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Supplier Register Page</title>
    <style>
        * {font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif;}
        .header {padding: 20px;}
        .header a {padding: 0 20px;}
        .container {padding: 20px;margin:20px auto;height: 500px;}
        .footer {height: 40px;padding: 20px;}
    </style>
</head>
<body>
    <header class="header">
        <div>
            <p style="text-align: center">Supplier Register</p>
        </div>
    </header>
    <div  class="container" layout:fragment="content">
        <form style="text-align: center" th:action="@{/suppRegister}"  th:object="${suppForm}" method="post">
            <label for="suppId">供应商编号&nbsp;</label>
            <input type="text" id="suppId" name="suppId" />
            <br>

            <label for="suppName">供应商名称&nbsp;</label>
            <input type="text" id="suppName" name="suppName" autofocus="autofocus" />
            <br>

            <input type="submit" value="Register"/>

        </form>
    </div>

    <footer class="footer">
        <div>
            <p style="text-align: center">&copy; FoodSafety 2019</p>
        </div>
    </footer>
</body>
</html>